@model ReservacionEventosUSAM.Models.CRUD.LocalcrudUpdate
@{
    ViewBag.Title = "ActualizarLugares";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ActualizarLugares</h2>

@using (Html.BeginForm("ActualizarLugares", "Lugares", FormMethod.Post, new { role = "form", @class = "" }))
{
    /*@Url.Content("~/Modulos/ConsultarModulos/")
     @Html.AntiForgeryToken()*/

    <div class="container">
        <br />
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Editar Tipo de Evento</h5>
                @Html.HiddenFor(d => d.id_local)
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">Nombre</span>
                            @Html.TextBoxFor(d => d.nombre_local, new { @class = "form-control", @type = "text", @placeholder = "Nombre local" })
                        </div>
                    </div>

                </div>


            </div>
            <div class="card-footer">
                <input type="submit" class="btn btn-primary" value="Guardar Lugar" />
                <a class="btn btn-danger" href="@Url.Content("~/Lugares/ConsultarLugares/")">Descartar Evento</a>
            </div>
        </div>
    </div>


}